@font-face {
  font-family: 'Digib';
  src: url('/fonts/DS-DIGIB.TTF') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'HGBold';
  src: url('/fonts/HurmeGeometricSans1-Bold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HGBlack';
  src: url('/fonts/HurmeGeometricSans1-Black.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'MR';
  src: url('/fonts/MyriadPro-Regular.otf') format('opentype');
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}